div.container h1 {
    margin-left:41%;
}
.checking_card div {
    margin-bottom:10px;
}

td.authorize  {
    font-weight:bold;
    text-align: center;
    font-size:14px;
}
table.no-border  td {
    border:none !important;
}